<div class="header__menu">
    <ul>
        <li routerLinkActive="active" class="header__menu-item" *ngFor="let item of menuItems">
            <a routerLink="{{item.url}}">{{item.title}}</a>
        </li>
    </ul>
</div>