<div class="pagination">
    <ul>
        <li *ngFor="let paginNum of paginNums;">
            <a routerLink="/{{catSlug}}" [queryParams]="{ page: paginNum }">{{paginNum + 1}}</a>
        </li>
    </ul>
</div>