/* footer.scss */
.footer{
  color: $white;
  background: lighten($black, 15%);
}
.footer__bottom{
  background: $black;
  text-align: center;
  padding: 10px 0;
}
.footer__top{
  padding: 20px 0;
  li{
    list-style: none;
    margin-bottom: 10px;
    a{
      color: $white;
    }
  }
}
#toTop{
  position: fixed;
  width: 50px;
  height: 50px;
  right: 0;
  bottom: 50px;
  background: #003382;
  text-align: center;
  color: #fff;
  line-height: 50px;
  cursor: pointer;
  z-index: 2;
  display: none;
}