<section class="section-blog-item-page">
    <div class="wrap">
        <div class="container-fluid">
            <h1>{{articleData.title}}</h1>
            <div class="section-blog-item-page__content">
                {{articleData.content}}
            </div>
        </div>
    </div>
</section>