<section class="section-blog">
    <div class="wrap">
        <div class="container-fluid">
            <h1>News</h1>
            <div class="section-blog__list">
                <div class="row section-blog__list-item" *ngFor="let item of blogData.items">
                    <div class="col-lg-3">
                        <div class="section-blog__item-imgwr">
                            <img src="{{item.img}}" alt="">
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <h2 class="section-blog__item-title">
                            <a routerLink="/{{item.cat_slug + '/' + item.slug}}">
                                {{item.title}}
                            </a>
                        </h2>
                        <div class="section-blog__item-txt">{{item.content}}</div>
                    </div>
                </div>
            </div>
            <pagination-chunk *ngIf="blogData.lastPageNum" [catSlug]="blogData.cat_slug"
                              [paginNums]="blogData.paginNums"
                              [lastPageNum]="blogData.lastPageNum"
                              [currPageNum]="blogData.currPageNum">
            </pagination-chunk>
        </div>
    </div>
</section>