<section class="section-simpage">
    <div class="wrap">
        <div class="container-fluid">
            <h3>{{data.title}}</h3>
            <div class="section-simpage_content">
                <div *ngIf="data.hasimg" class="section-simpage_imgwr">
                    <img src="{{data.img}}" alt="">
                </div>
                <div class="section-simpage_txt">
                    {{data.content}}
                </div>
            </div>
        </div>
    </div>
</section>